# Compiled output
/packages/*/dist

# Dependencies
node_modules

# Turbo repo
.turbo

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Docker 
docker/mongo/replica.key
docker/.env
docker/keycloak/*.pem

# Eslint cache
packages/**/.eslintcache

# Env files
packages/**/.env

# Swap the comments on the following lines if you wish to use zero-installs
# In that case, don't forget to run `yarn config set enableGlobalCache false`!
# Documentation here: https://yarnpkg.com/features/caching#zero-installs

#!.yarn/cache
.pnp.*


# IDE
.vscode